@keyframes distance-visualizer-enter-animation {
  0% {
    opacity: 0;
    transform: scale(0.65);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes distance-visualizer-leave-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1.15);
  }
  100% {
    opacity: 0;
    transform: scale(0.65);
  }
}

.distance-visualizer {
  animation-timing-function: ease-out;
  animation-fill-mode: both;

  &.entered {
    animation-name: distance-visualizer-enter-animation;
  }

  &.exited {
    animation-name: distance-visualizer-leave-animation;
  }
}
