.map-container {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-image: url("/assets/images/map.svg");
  background-position: center;
  background-repeat: no-repeat;

  text {
    font-family: Roboto, sans-serif;
    fill: #555;
    font-weight: bold;
  }

  circle {
    fill: #444;
  }
}
